* {
    box-sizing: border-box;
}

body {
    background-color: #17181f;
    color: white;
}


/* Styles for FormComponent.jsx */

.icon-google {
    max-width: 3rem;
    max-height: 1rem;
}

.login-header {
    text-align: center;
}

.loginform-div {
    border-radius: 0.25rem;
    text-align: center;
}

.loginform-div input {
    width: 50%;
    background-color: transparent;
    color: #ddd;
    border: 1px solid #30313d;
    border-radius: 0.25rem;
}


/* Styles for SuccessPage.jsx */

.successpage-div button {
    border-radius: 0.5rem;
}

.successpage-div input {
    border-radius: 0.5rem;
}


/* Styles for MainPage.jsx */

h1.balance {
    color: #fff;
    text-align: center;
}

.form-transaction input {
    width: 100%;
    background-color: transparent;
    color: #ddd;
    border: 1px solid #30313d;
    border-radius: 0.25rem;
}

.form-transaction input[type="datetime-local"] {
    color: #777;
}

.form-transaction .basic {
    display: flex;
    gap: 0.5rem;
    border-radius: 0.25rem;
}

.form-transaction .button-submit {
    background-color: #ddd;
    width: 100%;
    border-radius: 0.5rem;
}

.form-transaction .button-submit:hover {
    background-color: #30313d;
    color: #ddd;
    width: 100%;
    border-radius: 0.5rem;
}

.button-remove {
    box-sizing: border-box;
    background-color: #ddd;
    width: 100%;
    border-radius: 0.5rem;
}

.logoutbtn-div {
    display: flex;
    justify-content: right;
}

.userImg {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
}

.userInfo-div {
    display: flex;
    justify-content: space-between;
}


/* Styles for Transaction.jsx */

div.transaction {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #30313d;
}

div.transaction:first-child {
    border-top: 0;
}

div.transaction .left {
    text-align: left;
}

div.transaction .right {
    text-align: right;
}

div.transaction .price.green {
    color: #1c1;
}

div.transaction .price.red {
    color: #c11;
}